.hero {
    background-color: rgb(246, 249, 252);
}
.hero .navbar {
    background-color: #fff;
}

.hero .navbar-item {
    color: #000;
}

.disabled .tag:not(body).is-delete::after,
.disabled .tag:not(body).is-delete::before {
    left: inherit;
    top: inherit;
    transform: inherit;
}
.notification.hidden {
    display: none;
}
.wrapper-item-loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.wrapper-item-loading > * {
    display: inline-block;
    margin: .5em;
}
.item-loading {
    width: 1.5em;
    height: 1.5em;
    background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
}

.chart {
    margin: 0 auto;
    /* width: 30vw; */
    position: relative;
}
